$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@mixin placeholder($color){
    &::placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        color: $color;
    }

    &:-ms-input-placeholder {  
        color: $color;
    }
}

@mixin icon($name) {
    &:before {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 0.4em;
    }
    @extend .fa-#{$name};
}

.time {
    font-size: 1.25em;
    width: 5em;
    display: inline-block;

    font-family: monospace;

    border-radius: 3px;
    overflow: hidden;
    .moment {
        background-color: transparentize(cadetblue, 0.5);

        display: block;
        height: 1.1em;
        padding: 0.25em 0.25em;
        padding-left: 0.35em;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        border: none;

        input {
            @include placeholder(darken(cadetblue, 10%));
        }
    }
    .duration {
        background-color: transparentize(cadetblue, 0.20);

        display: block;
        padding: 0.25em 0.25em;
        padding-left: 1em;
        font-size: 0.75em;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border: none;

        input {
            @include placeholder(darken(cadetblue, 20%));
        }
    }
    button.add {
        font-family: inherit;
        font-size: 1em;
        height: 1.6em;
        width: 100%;
        vertical-align: top;
        i {
            font-size: 0.65em;
        }
        &.moment i:last-child { @include icon(clock-o) }
        &.duration i:last-child { @include icon(hourglass-half) }
        &.duration {
            padding: 0em;
            padding-top: 0.1em;
            text-align: center;
            height: 1.374em;
            font-size: 0.9em;
        }
        i.add { @include icon(plus); }
    }
}

.duration.editor {
    .minute.controls {
        position: relative;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        button {
            font-size: 0.8em;
            background: lightgrey;
            display: block;
            height: 50%;
            width: 100%;
            text-align: center;
            transition: background 0.1s;
            border: none;
            &:hover:not(:disabled){
                background: lightblue;
            }
            &:focus {
                outline:0
            }
        }
        display: inline-block;
        border-left: none;
        display: none;
    }
}
